<!doctype html>
<html lang="en">
<head>
	{% block head %}
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport"
		      content="width=device-width, initial-scale=1, shrink-to-fit=no">

		{% block styles %}
			{{ bootstrap.load_css() }}
		{% endblock %}

		{% block title %}
		{% endblock %}

	{% endblock %}
</head>
<body>
{% block navbar %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light">

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">自选<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/plates">深沪</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
				       placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0"
				        type="submit">Search
				</button>
			</form>
		</div>
	</nav>
{% endblock %}

<!-- Your page content -->
{% block content %}
{% endblock %}

{% block pager %}
{% endblock %}

{% block scripts %}
	{{ bootstrap.load_js() }}
<script src="/static/js/app.js" type="module"></script>

{% endblock %}

</body>
</html>