<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    {{ bootstrap.load_css() }}
    {% endblock %}

    {% block title %}
    {% endblock %}

    {% endblock %}
</head>
<body>

{% block navbar %}
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="{% block nav_fav %}{% endblock %}" href="/">自选</a>
        <a class="{% block nav_market %}{% endblock %}" href="/plates">市场</a>
    </div>
</nav>
{% endblock %}


<!-- Your page content -->
{% block content %}
{% endblock %}

{% block pager %}
{% endblock %}

{% block scripts %}
{{ bootstrap.load_js() }}
<!--<script src="/static/js/socket.io.js" ></script>-->
<script src="/static/js/socket.io.js"></script>
<script src="/static/js/app.js" type="module"></script>
{% endblock %}

</body>
</html>